# Dart dependencies and lockfile.
.dart_tool/
pubspec.lock

# Node dependencies and lockfile (support npm, pnpm and yarn).
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Rust output folder and lockfile.
target/
Cargo.lock

# VSCode extension compilation output.
extension/
